
<html lang="es" xml:lang="es" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ventas Nube</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ventas Nube">
    <link rel="apple-touch-icon" href="/public/app/v4.0/dist/img/favicon.ico">
    <!-- favicon.ico -->
    <link rel="shortcut icon" href="/public/app/v4.0/dist/img/favicon.ico" type="image/x-icon">
    <!-- favicon.ico -->
    <link rel="icon" href="/public/app/v4.0/dist/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap.min.css  -->
    <link rel="stylesheet" href="/public/app/v4.0/dist/bootstrap/css/bootstrap.css">
    <!-- VentasNubeSkin.css -->
    <link rel="stylesheet" href="/public/app/v4.0/dist/css/skins/skin-ventas-nube.css">
    <!-- VentasNubeSkin.css -->
    <link rel="stylesheet" href="/public/app/v4.0/dist/css/VentasNubeSkin.css">
    <!-- snack-bar.ccs -->
    <link rel="stylesheet" href="/public/app/v4.0/plugins/snackbar-master/dist/snackbar.min.css">
    <!-- Font-awesome.min.css 5.8-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Manifest JSON-->
    <link rel="manifest" href="/public/app/v4.0/dist/js/manifest.json">
</head>
<!-- Search module compiled -->
<div id="search_module_compiled"></div>
<!-- Right main compiled -->
<div id="right_main_compiled">
  <div id="right_main" class="right_main col-xs-12 col-sm-12">

    </div>

</div>

<body class="hold-transition skin-ventas-nube sidebar-mini sidebar-collapse fixed">
    <div class="btnContenedor">
        <button class="botonF1">
            <span class="btnSpan">+</span>
        </button>
        <button class="btnFloat botonF2">
            <a href="<?php echo site_url('os/adicionar') ?>"><span class="btnSpan"><i class="fa fa-wrench"
                        aria-hidden="true"></i></i></span></a>
        </button>
        <button class="btnFloat botonF3">
            <a href="<?php echo site_url('vendas/adicionar') ?>"><span class="btnSpan"><i class="fa fa-cart-plus"
                        aria-hidden="true"></i></i></span></a>
        </button>
        <button class="btnFloat botonF4">
            <a href="<?php echo site_url('home') ?>"><span class="btnSpan"><i class="fa fa-inbox"
                        aria-hidden="true"></i></i></span></a>
        </button>
        <button class="btnFloat botonF5">
            <a href="#"><span class="btnSpan"><i class="fa fa-ticket" aria-hidden="true"></i></i></span></a>
        </button>
    </div>
    <div class="wrapper">
        <!-- TOP NAV -->
        <header id="top_nav_compiled" class="main-header"></header>
        <!-- LEFT NAV-->
        <aside id="left_nav_compiled" class="main-sidebar"></aside>
        <div class="content-wrapper">
            <section class="content" id="content">
                <div id="nav_bar_compiled"></div>
                <!--MODULE NAV BAR COPILED-->
                <div id="content_compiled"></div>
                <!--MODULE CONTENT COPILED-->
            </section>
        </div>
    </div>
    <!-- Footer-->
    <footer class="main-footer">
        <strong> Offline First APP </strong>
        <strong>Copyright &copy; 2017-2022 <a href="www.ventasnube.com">Ventas Nube</a>
            <span id="sw-version">4 </span>
        </strong>
    </footer>
</body>

<div class="modal fade modal-primary master_popup" id="master_popup" tabindex="-1" role="dialog"
    aria-labelledby="presu-orden" data-backdrop="static" data-keyboard="false">
</div>


<div id="modal_master" class="modal_master">
        <div class="modal_header">
                    <div class="tittle">Actualizando tu Workspace</div>
                     
        </div>
        <div class="modal_body ">
                        <div class="icon_tittle">
                          <span class="material-icons">
                              install_desktop
                          </span>
                        </div>
                        <br>
                        <div class="icon_loading">
                          <span class="material-icons material-icon-spinner">
                               cached
                          </span>
                        </div>
                        <div class="sub_tittle">Aguarda un instante...</div>
                   
        </div>
        <div class="modal_footer">
       
        </div>
</div>



<!--- COMPONENTES PRIMARIOS -->
<!-- Jquery-3.1.1.min.js -->
<script type="text/javascript" src="/public/app/v4.0/plugins/jQuery/jquery-3.1.1.min.js"></script>
<!-- moments.js -->
<!--script type="text/javascript" src="/public/app/v4.0/plugins/moments/moments.js"></script-->
<!-- Bootstrap.min.JS -->
<script src="/public/app/v4.0/dist/bootstrap/js/bootstrap.min.js"></script>
<!-- snack-bar.JS -->
<script src="/public/app/v4.0/plugins/snackbar-master/dist/snackbar.js"></script>
<!-- Handlebars -->
<script src="/public/app/v4.0/plugins/handlebars/4.7.6.handlebars.js"></script>
<!-- PouchDb plugin -->
<script src="/public/app/v4.0/plugins/pouchdb/js/pouchdb.min.js"></script>
<!-- login script auth -->
<script src="/public/app/v4.0/plugins/pouchdb/js/pouchdb.authentication.min.js"></script>
<!-- Jquery.validate.js -->
<script src="/public/app/v4.0/plugins/validate/jquery.validate.js"></script>
<!-- MUURI drop efect Script -->
<script src="https://cdn.jsdelivr.net/npm/muuri@0.9.0/dist/muuri.min.js"></script>
<!-- Search Motor plugin -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.3"></script>
<!---############### Vistas con seguridad de login #######################--->
<!--- LOGICA MOTOR AJAX COMPILADOR PLANTILLA NAVEGACION -->
<script src="/public/app/v4.0/dist/js/workspace/app/ventas_nube_compilator.js"></script>
<!--- PLANTILLA FUNCIONES BODY -->
<script src="/public/app/v4.0/dist/js/workspace/app/ventas_nube_app.js"></script>
<!-- ############## Modulos VENTAS NUBE ##############  -->
<!--- SESSION -->
<script src="/public/app/v4.0/dist/js/workspace/app/ventas_nube_session.js"></script>
<!--- CART -->
<script src="/public/app/v4.0/dist/js/workspace/cart/ventas_nube_cart.js"></script>
<!--- SEARCH -->
<script src="/public/app/v4.0/dist/js/workspace/search/ventas_nube_search.js"></script>
<!--- ACCOUNT -->
<script src="/public/app/v4.0/dist/js/workspace/account/ventas_nube_account.js"></script>
<!--- CATALOG -->
<script src="/public/app/v4.0/dist/js/workspace/catalog/ventas_nube_catalog.js"></script>
<!--- BODY -->
<script src="/public/app/v4.0/dist/js/workspace/body/ventas_nube_body.js"></script>
</html>


<script type="module">
let newWorker;
function showUpdateBar(newWorker) {
           // let snackbar = document.getElementById('snackbar');
            //snackbar.className = 'show';

              Snackbar.show({
                   text: '<span class="material-icons">cloud_download</span> Se instalo una nueva version con Exito!',
                    width: '475px',
                    actionTextColor: '#ff0000',
                    actionText: 'Refrezcar',
                    pos: 'bottom-center',
                   onActionClick: function(element) {
                       //Set opacity of element to 0 to close Snackbar
                       $(element).css('opacity', 0);
                       // location.reload();
                        newWorker.postMessage({ action: 'skipWaiting' });
                        location.reload();
                       // alert('Refrezcar pagina!');
                   }
                });
                var delay = 2000;
                 setTimeout(function(){ 
                     newWorker.postMessage({ action: 'skipWaiting' });
                      location.reload();
                     // window.location = "/account";
                      }, delay);
          }
          ///INSTALACION SW
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
            .then(
                reg => {
                //console.log( 'ServiceWorker registration successful with scope: ', reg.scope );
                 
               //  waitWorker = reg.waiting;
                newWorker = reg.installing;
                if (reg.waiting) {
                // console.log('Instalando Nueva vesion');
                 alert('Se actualizo con exito!');
                 waitWorker.postMessage({ action: 'skipWaiting' });
                return;
                }
                if (reg.installing) {
                //console.log('installing');
                alert('Se instalo una nueva version!');
                // newWorker.postMessage({ action: 'skipWaiting' });
                //  location.reload();
                newWorker.postMessage({ action: 'skipWaiting' });
                var delay = 1000;
                 setTimeout(function(){ 
                      location.reload();
                     // window.location = "/account";
                      }, delay);

                return;
                }
                if (reg.active) {
                console.log('Se instalo una nueva version!');
                // alert('Se instalo una nueva version!');
                /*  var delay = 2000;
                 setTimeout(function(){ 
                      location.reload();
                     // window.location = "/account";
                      }, delay);*/
                return;
                }

                /*  reg.addEventListener('updatefound', function() {
                console.log('service worker changed');
                 alert ('service worker changed')
                 
                });
                */
              reg.addEventListener('updatefound', () => {
                // A wild service worker has appeared in reg.installing!
                newWorker = reg.installing;
                newWorker.addEventListener('statechange', () => {
                  // Has network.state changed?
                  switch (newWorker.state) {
                    case 'installed':
                      if (navigator.serviceWorker.controller) {
                         // new update available
                        newWorker.postMessage({ action: 'skipWaiting' });
                         //location.reload();
                        //  var delay =2000;
                        //  setTimeout(function(){location.reload(); }, delay);
                        // createCookie('ws_install-', true);
                      }
                      // No update available
                      break;
                  }
                });
              });
              //reg.update(); //Actualiza el service worker cada una hora
            });
            let refreshing;
            navigator.serviceWorker.addEventListener('controllerchange', function () {
              if (refreshing) return;
                //  alert('Volver a iniciar app');
              window.location.reload();
                //  refreshing = true;
            });
          }  
</script>