/** Ventasnube.com app style  ***/

.sidebar {
    /* background-image: url("http://localhost/public/vnapp/assets/img/bg-cosmos.jpg")!important;
    background-repeat: repeat-y!important;*/
}

.sidebar .logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

.sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    max-width: 60px;
    text-align: center;
    margin: 0px 15px 0px 15px;
    vertical-align: middle;
    padding: 0;
    width: 100%;
}

.sidebar .logo a.logo-mini img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sidebar .logo .simple-text {
    text-transform: capitalize;
    padding: 5px 0 0 0;
    display: inline-block;
    font-size: 19px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}


/**** Clases recuperadas ***/


/* CART MODULE **/

.cart_items_trash {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    color: #ccc;
}

.cart_items_trash .material-icons.xl {
    font-size: 70px;
}

.cart_items_trash .text {
    font-size: 30px;
}

.right_main {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: 100%;
    right: 0;
    position: fixed;
    top: 0px;
    transition: all 0.1s ease-in-out;
    /*width: 500px;*/
    z-index: 9999;
    background: #fff;
    overflow-y: auto;
}

@media (min-width: 800px) {
    .right_main {
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0;
        transition: all 0.1s ease-in-out;
        width: 500px;
    }
}

.right_main.move-right {
    transform: translate(1080px, 0);
    -webkit-transform: translate(1080px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(1080px, 0);
    /** Opera **/
    -moz-transform: translate(1080px, 0);
    /** Firefox **/
}

.righ_nav_header {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
}

.righ_nav_header .right_nav_close {
    padding: 5px;
    right: 5px;
    position: relative;
}

.righ_nav_header .righ_nav_users {
    position: relative;
    padding: 0px 0 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.righ_nav_content {}

.righ_nav_footer {
    right: 5px;
    position: relative;
    text-align: center;
    padding: 15px;
}

.right_main .tabs-main {
    max-height: 450px;
    overflow-y: auto;
}


/*  SEAR PRODUCT **/

.indicator {
    cursor: pointer;
}

.card {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    padding: 0;
}

.card .card-product {
    position: relative;
    width: auto;
    height: 250px;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    /*margin: calc((100vh - 400px) / 2) auto;*/
    border-radius: 5px;
}

.card .info {
    position: absolute;
    margin-top: -100px;
    margin: -100px 0 0 15px;
    z-index: 9999;
}

.card .info.out {
    z-index: 0;
    position: absolute;
    margin-top: -100px;
    margin: -100px 0 0 15px;
}

.card .card-product .header {
    width: 100%;
    height: 50%;
    background-color: #fff;
    overflow: hidden;
}

.card .card-product .img_card {
    width: 220px;
    text-align: center;
    margin: 10px auto 0;
}

.card .card-product .header img {
    width: 100%;
    background-color: #fff;
    object-fit: cover;
}

.card .card-product .header .card_product_details {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 999;
    color: #fff;
    margin-top: 40px;
    padding: 0 10px 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transform: opacity 0.6s ease-in-out;
    /** Chrome & Safari **/
    -o-transform: opacity 0.6s ease-in-out;
    /** Opera **/
    -moz-transform: opacity 0.6s ease-in-out;
    /** Firefox **/
    position: absolute;
    display: none;
}

.card .card-product .header .card_product_details input {
    color: #fff;
    border-color: #fff;
    background-image: linear-gradient(0deg, #e7ecf1 2px, rgba(213, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
    width: 150px;
    display: inline-block;
}

.card .card-product .header .card_product_details div {
    display: inline-block;
    position: relative;
}

.card .card-product .header .card_product_details div span {
    display: inline-block;
}

.card .card-product .header .card_product_details div input {
    color: #fff;
    border-color: #fff;
    background-image: linear-gradient(0deg, #e7ecf1 2px, rgba(213, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
    width: 150px;
    display: inline-block;
    width: calc(80% - -1px);
}

.card .card-product .header .card_product_details.fade-in {
    opacity: 1;
    display: inline-block;
}

.card .card-product .header .card_product_details.fade-out {
    opacity: 0;
    display: none;
    transition: opacity 0.1s linear;
    -webkit-transform: opacity 0.1s linear;
    -o-transform: opacity 0.1s linear;
    -moz-transform: opacity 0.1s linear;
}

.card .card-product .header .card_product_footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

.card .card-product .header .indicator {
    position: absolute;
    z-index: 9999;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    right: 20px;
    margin: 0;
    border-radius: 100%;
    background: linear-gradient(40deg, #0575e6, #415eff);
    -webkit-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -moz-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -o-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -ms-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
}

.card .card-product .header .indicator.open {
    top: 37%;
    right: calc(50% - 25px);
    margin: calc(-30% - 25px) calc(50% - 25px) 0 0;
    /*     right: calc(90% - 31px);
    margin: calc(-41% - 0px) 0 0;*/
    background: transparent!important;
    -webkit-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.3, 0.0, 0.2, 1) 0.3s;
    -moz-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.3, 0.0, 0.2, 1) 0.3s;
    -o-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.3, 0.0, 0.2, 1) 0.3s;
    -ms-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.3, 0.0, 0.2, 1) 0.3s;
    transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.3, 0.0, 0.2, 1) 0.3s;
}

.card .card-product .header .indicator .open_detail {
    margin: 14.5px 13px;
    color: #ffff;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -moz-transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -o-transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -ms-transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

.card .card-product .header .indicator .open_detail.open {
    position: absolute;
    margin: 2px 13px;
    color: #ffff;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -moz-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -o-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -ms-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
}

.card .card-product .header .indicator .open_detail.close {
    position: absolute;
    margin: 2px 13px;
    color: #ffff;
    opacity: 1;
    transform: scale(0);
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -moz-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -o-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -ms-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
}

.card .card-product .header .indicator.add {
    background: linear-gradient(40deg, #4CAF50, #689F38) !important;
}


/** Boton tilde plus efecto **/

.card .card-product .header .indicator.add {
    background: linear-gradient(40deg, #4CAF50, #689F38) !important;
}

.card .card-product .header .indicator .quantity {
    display: none;
    position: absolute;
    top: 1px;
    right: -6px;
    z-index: 999999;
    color: #ffff;
}

.card .card-product .header .indicator .chekin-icon {
    position: absolute;
    top: -20px;
    right: -15px;
    font-size: 22px;
    background-color: #ffff;
    /* color: #2468f3; */
    border-radius: 100%;
    background: linear-gradient(40deg, #4CAF50, #689F38) !important;
}

.ripple-efect-div {
    background: linear-gradient(40deg, #0575e6, #415eff) !important;
    -webkit-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -moz-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -o-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -ms-transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
}

.ripple-efect-div.success {
    background: linear-gradient(40deg, #298813, #63cc4d) !important;
}

.ripple-efect-div .efect-in {
    color: #ffff;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -moz-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -o-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -ms-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
}

.ripple-efect-div .efect-out {
    color: #ffff;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -moz-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -o-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    -ms-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.6s;
}

.card.card-product .header .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 5px;
}

.card .card-product .header .content .data {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #FF9800;
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -moz-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -o-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -ms-transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

.card .card-product .header .content .data .top {
    width: 100%;
    height: 40%;
}

.card .card-product .header .content .data .top .title {
    width: 100%;
}

.card .card-product .header .content .title {
    margin: 5px;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    text-shadow: -1px 1px 0 #757575, -1px 2px 0 #757575;
    color: #fff;
}

.card .card-product .header .cat {
    width: 100%;
    opacity: .7;
    text-align: center;
    margin: 10px;
    position: absolute;
}

.card .card-product .info {
    /* width: calc(100% - 40px); */
    /* height: calc(40% - 80px); */
    color: #9E9E9E;
    padding: 20px 10px 0;
    color: #757575;
    font-size: 18px;
    height: 125px;
}

.card .card-product .info .round-icon {
    position: initial;
}

.pop_card_product {}


/** Mi efecto de tarjeta javascript **/

.card .card-product .ripple_div {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    /*  right: calc(50% - 25px);*/
    opacity: 0;
    border-radius: 100%;
    /* background-color: #FF9800; */
    background: linear-gradient(40deg, #0575e6, #415eff) !important;
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -o-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -ms-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    z-index: 99;
}

.card .card-product .ripple_div.add {
    background: linear-gradient(40deg, #4CAF50, #4CAF50) !important;
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -o-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    -ms-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    z-index: 99;
}

.card .card-product .ripple_efect {
    opacity: 1;
    transform: scale(10);
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -o-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    -ms-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
}

.card .card-product .ripple_efect_close {
    transform: scale(1);
    -webkit-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.9s;
    -moz-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.9s;
    -o-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.9s;
    -ms-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.9s;
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.9s;
}


/** Estilo  2020 Material ventasNube***/


/** Search bar **/

.search-content {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    overflow-y: scroll;
    /*visibility: hidden;*/
    display: none;
    /*position: absolute;*/
    margin-top: 0px;
}

.search-content.active {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    overflow-y: scroll;
}

.search-active {
    overflow: hidden;
}

.search-content .search-header {
    width: 100%;
    height: 60px;
    position: relative;
}

.search-content .search-header .search-nav {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #ffff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.search-content .search-header .search-nav .search-close {
    /* width: 60px; */
    /* height: 60px; */
    padding: 11px;
    /* margin: 0 20px 0 0; */
    position: relative;
    vertical-align: middle;
    font-size: 12px;
    cursor: pointer;
    background-color: #ffff;
}

.search-content .search-header .search-nav .search-close span {
    font-size: 30px;
}

.search-content .search-header .search-nav .search-close:focus,
.search-content .search-header .search-nav .search-close:hover {
    text-decoration: none;
    color: #007bb6;
    cursor: pointer;
}

.cart_button {}

.cart_button .cart-number {
    font-size: 16px!important;
    background-color: #EF5350;
    color: #fff;
    border-radius: 100%;
    padding: 2px;
    position: absolute;
    top: 3px;
    right: 0;
    width: 25px;
    height: 25px;
    text-align: center;
}


/*** input ***/

.search-content .search-header .search-nav .group {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    width: 80%;
}

.search-content .search-header .search-nav .group .search_cat_btn {
    position: relative;
    display: inline-block;
}

.search-content .search-header .search-nav .group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: inline-block;
    width: 80%;
    border: none;
    /* border-bottom:1px solid #757575;*/
    font-size: 25px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .search-content .search-header .search-nav .group {
        position: relative;
        margin-bottom: 15px;
        display: inline-block;
        width: 55%;
    }
    .search-content .search-header .search-nav .group input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: inline-block;
        widows: 80%;
        border: none;
        /* border-bottom:1px solid #757575;*/
        font-size: 22px;
    }
}

.search-content .search-header .search-nav .group input:focus {
    outline: none;
}


/* LABEL ======================================= */

.search-content .search-header .search-nav .group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

.search-content .search-header .search-nav .group input:focus,
.search-content .search-header .search-nav .group input:valid {
    top: -20px;
    font-size: 22px;
    color: #575757;
}


/* BOTTOM BARS ================================= */

.search-content .search-body {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100% !important;
    padding: 10px 0;
}

.search-content .search-result {
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .search-content .search-body {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100% !important;
        padding: 10px 0;
    }
    .search-content .search-result {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.search-content .search-body .search-title {
    width: 100%;
    display: inline-block;
    margin: 5px 10px 10px 0px;
}

.search-content .search-title span {
    font-size: 18px;
    /*color: #0575e6;*/
    vertical-align: middle;
    cursor: pointer;
}


/* Diseno Cards **/

.s-card {
    display: block;
    padding: 5px;
    /* z-index: 998;*/
}

.s-card-body {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #fff;
    /* margin: 0;*/
    margin: 10px 0;
    padding: 10px 0 0 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 3px 0 rgba(0, 0, 0, .25);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.s-card-body:hover {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05), 0 4px 8px 0 rgba(0, 0, 0, .25);
}

.s-card-body .s-card-header {
    display: inline-block;
    position: relative;
    /* padding: 15px 15px 10px 15px;*/
    font-size: 18px;
    min-height: 45px;
}